<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{{ title }} &mdash; Scott Bailey</title>
<link href="/css/sb.css" rel="stylesheet" type="text/css">
<style type="text/css">
/* Carried over from the old pages' inline blocks: these three rules are the
   only ones sb.css does not already provide. Without the base font rule,
   unclassed table cells (e.g. the timeline years) fall back to 16px Times. */
body, td, th {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
.style3 { color: #8499A0; }
.whitetext { color: #FFF; }
</style>
</head>

<body>
<table width="120%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="59%" align="left" valign="top"><a href="/"><img src="/images/common/subLogo.gif" alt="Scott Bailey" width="320" height="68" border="0"></a></td>
        <td width="41%" align="right" valign="top" class="topLeftNav"><div align="left">
          <p>&nbsp;</p>
          <p><a href="/collections/" class="HREFnoDec">collections</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/bio/" class="HREFnoDec">bio</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/contact/" class="HREFnoDec">contact</a></p>
        </div></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="1444" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td bgcolor="#C9D8DD" class="whitetext">2022</td>
        <td bgcolor="#C9D8DD" class="whitetext">2016</td>
        <td bgcolor="#C9D8DD" class="whitetext">&nbsp;</td>
        <td bgcolor="#C9D8DD" class="whitetext">2013</td>
        <td bgcolor="#C9D8DD">&nbsp;</td>
        <td bgcolor="#C9D8DD"><span class="whitetext">2009</span></td>
        <td valign="bottom" bgcolor="#C9D8DD" class="whitetext">WASHINGTON</td>
        <td valign="bottom" bgcolor="#C9D8DD"><div align="center"><span class="whitetext"> 2006</span></div></td>
        <td valign="bottom" bgcolor="#C9D8DD">&nbsp;</td>
        <td width="80" valign="bottom" bgcolor="#C9D8DD"><span class="whitetext">2004</span></td>
        <td valign="bottom" bgcolor="#C9D8DD" class="whitetext">EGYPT</td>
        <td valign="bottom" bgcolor="#C9D8DD"><span class="whitetext">2001</span></td>
        <td valign="bottom" bgcolor="#C9D8DD">&nbsp;</td>
        <td valign="bottom" bgcolor="#C9D8DD" class="whitetext">1998</td>
        <td valign="bottom" bgcolor="#C9D8DD" class="whitetext">COLORADO</td>
        <td valign="bottom" bgcolor="#C9D8DD"><span class="whitetext">1996</span></td>
        <td valign="bottom" bgcolor="#C9D8DD" class="whitetext">JAPAN</td>
        <td width="84" valign="bottom" bgcolor="#C9D8DD"><span class="whitetext">ITALY</span></td>
      </tr>
      <tr>
        <td width="75" bgcolor="#EBF0F1">&nbsp;</td>
        <td width="75" bgcolor="#EBF0F1"><a href="/c14/"><img src="/images/common/subNavNode.gif" alt="" width="60" height="10" border="0" align="middle"></a></td>
        <td width="73" bgcolor="#EBF0F1"><a href="/c16/"><img src="/images/common/subNavNode.gif" alt="" width="60" height="10" border="0" align="middle"></a></td>
        <td width="80" bgcolor="#EBF0F1"><a href="/c15/"><img src="/images/common/subNavNode.gif" alt="" width="60" height="10" border="0" align="middle"></a></td>
        <td width="92" bgcolor="#EBF0F1"><a href="/c13/"><img src="/images/common/subNavNode.gif" alt="" width="60" height="10" border="0" align="middle"></a></td>
        <td width="84" bgcolor="#EBF0F1"><a href="/c12/"><img src="/images/common/subNavNode.gif" alt="" width="60" height="10" border="0" align="middle"></a></td>
        <td width="90" valign="bottom" bgcolor="#EBF0F1"><a href="/c11/"><img src="/images/common/subNavNode.gif" alt="" width="60" height="10" border="0"></a></td>
        <td width="78" valign="bottom" bgcolor="#EBF0F1"><a href="/c10/"><img src="/images/common/subNavNode.gif" alt="" width="60" height="10" border="0"></a></td>
        <td width="79" valign="bottom" bgcolor="#EBF0F1"><a href="/c9/"><img src="/images/common/subNavNode.gif" alt="" width="60" height="10" border="0"></a></td>
        <td valign="bottom" bgcolor="#EBF0F1"><a href="/c8/"><img src="/images/common/subNavNode.gif" alt="" width="60" height="10" border="0"></a></td>
        <td width="78" valign="bottom" bgcolor="#EBF0F1"><a href="/c7/"><img src="/images/common/subNavNode.gif" alt="" width="60" height="10" border="0"></a></td>
        <td width="77" valign="bottom" bgcolor="#EBF0F1"><a href="/c6/"><img src="/images/common/subNavNode.gif" alt="" width="60" height="10" border="0"></a></td>
        <td width="77" valign="bottom" bgcolor="#EBF0F1"><a href="/c5/"><img src="/images/common/subNavNode.gif" alt="" width="60" height="10" border="0"></a></td>
        <td width="82" valign="bottom" bgcolor="#EBF0F1"><a href="/c4/"><img src="/images/common/subNavNode.gif" alt="" width="60" height="10" border="0"></a></td>
        <td width="86" valign="bottom" bgcolor="#EBF0F1"><a href="/c3/"><img src="/images/common/subNavNode.gif" alt="" width="60" height="10" border="0"></a></td>
        <td width="72" valign="bottom" bgcolor="#EBF0F1"><a href="/c2/"><img src="/images/common/subNavNode.gif" alt="" width="60" height="10" border="0"></a></td>
        <td width="82" valign="bottom" bgcolor="#EBF0F1"><a href="/c1/"><img src="/images/common/subNavNode.gif" alt="" width="60" height="10" border="0"></a></td>
        <td valign="bottom" bgcolor="#EBF0F1">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="72" align="center" valign="top" class="NavCopy"><a href="/c17/">c17</a></td>
        <td width="72" align="center" valign="top" class="NavCopy"><a href="/c14/">c16</a></td>
        <td width="72" align="center" valign="top" class="NavCopy"><a href="/c16/">c15</a></td>
        <td width="80" align="center" valign="top" class="NavCopy"><a href="/c15/">c14</a></td>
        <td width="96" align="center" valign="top" class="NavCopy"><a href="/c13/">c13</a></td>
        <td width="82" align="center" valign="top" class="NavCopy"><a href="/c12/">c12</a></td>
        <td width="82" align="center" valign="top" class="NavCopy"><a href="/c11/">c11</a></td>
        <td width="85" align="center" valign="top" class="NavCopy"><a href="/c10/">c10</a></td>
        <td width="79" align="center" valign="top" class="NavCopy"><a href="/c9/">c9</a></td>
        <td width="72" align="center" valign="top" class="NavCopy"><a href="/c8/">c8</a></td>
        <td width="86" align="center" valign="top" class="NavCopy"><a href="/c7/">c7</a></td>
        <td width="78" align="center" valign="top" class="NavCopy"><a href="/c6/">c6</a></td>
        <td width="77" align="center" valign="top" class="NavCopy"><a href="/c5/">c5</a></td>
        <td width="82" align="center" valign="top" class="NavCopy"><a href="/c4/">c4</a></td>
        <td width="82" align="center" valign="top" class="NavCopy"><a href="/c3/">c3</a></td>
        <td width="80" align="center" valign="top" class="NavCopy"><a href="/c2/">c2</a></td>
        <td width="82" align="center" valign="top" class="NavCopy"><a href="/c1/">c1</a></td>
        <td width="83" align="center" valign="top" class="NavCopy">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>

{{ content | safe }}

</body>
</html>
